{% extends "base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}



{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}bower_components/jquery-ui/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/comments-list.css">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <form class="form-inline" action="/comments/bulkupdate" id="frmBulk" method="post">
                {% csrf_token %}
                <input type="hidden" name="projectId" value="{{projectId}}">
                <label for="txtSimilar"><span style="text-decoration: underline;">S</span>imilares (id)</label>
                <input name="txtSimilar" id="txtSimilar" class="form-control input-sm" size="4" accesskey="s">
                <label for="txtWords"><span style="text-decoration: underline;">P</span>alabras</label>
                <input name="txtWords" id="txtWords" class="form-control input-sm" accesskey="p">
                <label for="txtUser"><span style="text-decoration: underline;">U</span>suario</label>
                <input name="txtUser" id="txtUser" class="form-control input-sm" accesskey="u">
                <label for="txtHash"><span style="text-decoration: underline;">H</span>ash</label>
                <input name="txtHash" id="txtHash" class="form-control input-sm" accesskey="h">                
                <label for="txtWordsTag">Tag</label>
                <input name="txtWordsTag" id="txtWordsTag" class="form-control input-sm tags">
                <label for="txtWordsTagAux">TagAux</label>
                <input name="txtWordsTagAux" id="txtWordsTagAux" class="form-control input-sm tags">
                <label for="txtPolarity">Pol</label>
                <input name="txtPolarity" id="txtPolarity" class="form-control input-sm" size="2">
                <button type="submit" class="btn btn-primary" id="btnBulkSubmit">Actualiza</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <form class="form-inline" method="post" id="frmFilter">
                <label for="chkFilterTagged">Sin Tag</label>
                <input type="checkbox" name="chkFilterTagged" id="chkFilterTagged" class="form-control input-sm"
                {{ chkFilterTaggedValue }} >
            </form>
        </div>
        <div class="col-lg-4" id="statusBox">
            <p class="text-right bg-info">Total: {{stats.total}} Taggeado: {{stats.tagged}} 
                Completado: {{stats.ratio|floatformat}}<span id="statusPercentage"></span>%</p>
        </div>
    </div>
</div>

<form method=post action="/comments/save" id="formComments">
 {% csrf_token %}
 <input type="hidden" name="projectId" value="{{projectId}}">
 {% render_table commentsTable "comments/table.html" %}
 <input type="submit" id="btnSubmit" class="btn btn-primary" value="Guardar">
</form>


{% endblock %} 

{% block javascript %}
<script type="text/javascript" src='{% static 'bower_components/jquery-ui/jquery-ui.js' %}'></script>

<script type="text/javascript">

var AllowExit = false;

var parseQueryString = function( queryString ) {
    var params = {}, queries, temp, i, l;
 
    // Split into key/value pairs
    queries = queryString.split("&");
 
    // Convert the array of strings into an object
    for ( i = 0, l = queries.length; i < l; i++ ) {
        temp = queries[i].split('=');
        params[temp[0]] = temp[1];
    }
 
    return params;
};

// Update tag list
var tagList = ['{{ tagList|join:"','" }}'];
$(
	function() {
	   $( ".tags" ).autocomplete({
		   source: tagList
	   });
	   
	   $( ".tags" ).focusout(
			   function(){
				   // check if current tag is in the list
				   if( $.inArray($(this).val(), tagList) == -1 ){
					   tagList.push( $.trim($(this).val()) );
				   }
			   }
		);
    }
);


//Update tagAux list
var tagAuxList = ['{{ tagAuxList|join:"','" }}'];
$(
    function() {
       $( ".tagsAux" ).autocomplete({
           source: tagAuxList
       }); 
       
       $( ".tagsAux" ).focusout(
               function(){
                   // check if current tag is in the list
                   if( $.inArray($(this).val(), tagAuxList) == -1 ){
                       tagAuxList.push( $.trim($(this).val()) );
                   }
               }
        );
    }
);


//callback handler for form submit
$("#formComments").submit(function(e)
{
	e.preventDefault(); //STOP default action
	
    var postData = $(this).serializeArray();
    var formURL = $(this).attr("action");
    $.ajax(
    {
        url : formURL,
        type: "POST",
        data : postData,
        dataType: 'json',
        async: false,
        success:function(data, textStatus, jqXHR)
        {
            //data: return data from server
            $('#statusPercentage').text(parseFloat(data.ratio * 100.0).toFixed(2))
        	alert("Saved!");
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            //if fails
            alert("Cannot save data")
        }
    });
    
});

$("#frmBulk").submit(function(e)
		{
        e.preventDefault(); //STOP default action

        var postData = $(this).serializeArray();
		    var formURL = $(this).attr("action");
		    $.ajax(
		    {
		        url : formURL,
		        type: "POST",
		        async: false,
		        data : postData,
		        success:function(data, textStatus, jqXHR)
		        {
		            alert("Saved!");
		        },
		        error: function(jqXHR, textStatus, errorThrown)
		        {
		            //if fails
		            alert("Cannot save data");
		        }
		    });
		});

// Bulk submit, ajax save, ajax submit bulk, then window refresh
$("#btnBulkSubmit").click(
	function(e){
		e.preventDefault(); //STOP default action	
		$('#formComments').submit();
		$('#frmBulk').submit();
		allowExit();
		location.reload();
	}
);

$("#btnSubmit").click(
		function(e){
	        e.preventDefault(); //STOP default action
	        $('#formComments').submit();
	    }
	);

// Filter tagged on/off
$("#chkFilterTagged").click(
		function(e){
			//Save changes
			$('#formComments').submit();
			
			var queryString = window.location.search.replace("?","");
			var params = ({});
			if(queryString != ""){
			  params = parseQueryString(queryString);
			}
			
			if($(this).is(':checked') == true){
				if(params.hasOwnProperty('chkFilterTagged') == false){
					params['chkFilterTagged']=true;
				}
			}else{
                if(params.hasOwnProperty('chkFilterTagged') ){
                    delete params['chkFilterTagged'];
                }				
			}
			
			var newParams = decodeURIComponent(jQuery.param( params ));
			if(newParams.indexOf("?") < 0){
				newParams = "?" + newParams;
			}
			
			allowExit();
			window.location.href = window.location.pathname + newParams;
		}
)

function allowExit(){
	AllowExit = true;
}

// Alert when closing window
window.onbeforeunload = function() {
	if(AllowExit != true){
	    return "Are you sure you want to leave?"; 
	}
}


</script>
{% endblock  %}