{% extends "base.html" %}

{% block content %}
    <h2>Seleccionar Archivo</h2>
    
    <form action="/projects/importFile" 
        method="post" 
        id="formSendCSV" 
        enctype="multipart/form-data"
        class="form-inline"
        >
        {% csrf_token %}
        <input type="hidden" name="projectId" id="projectId" value="">
        <div class="form-group form-group-sm" >
        <label for="csvFile" class="col-sm-6 control-label">Columnas con nombre: originalContent, url, externalId</label>
        <div class="col-sm-6">
            <input type="file" class="form-control input-sm" name="csvFile" id="csvFile">
        </div>
        </div>
    </form>
    
    
    <h2>Projects</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
                <th>%Categorizacion</th>
                <th>%Polarizacion</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Actions</th>
                <th>%Categorizacion</th>
                <th>%Polarizacion</th>
            </tr>
        </tfoot>
        
        <tbody>
        {% for project in object_list %}
            <tr>
                <td> 
                    <a href="/admin/comments/project/{{ project.id }}/">{{ project.name }}</a>
                </td>
                <td>
                    <button type="button" id="buttonSendCSV" class="btn btn-primary" onclick="sendCSV({{ project.id }})">Subir Archivo</button>
                    <a class="btn btn-primary" href="/projects/exportFile/{{ project.id }}">Bajar Resultados</a>
                    <a class="btn btn-primary" href="/comments/{{ project.id }}" >Ver Comentarios</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
    
    
    
    function sendCSV(projectId){
    	if(projectId > 0){
    		$('#projectId').val(projectId);
    		$('#formSendCSV').submit();
    	}else{
    		alert("No project Selected");
    	}
    }
    </script>
{% endblock %}